@charset "utf-8";
/* CSS Document */

a {
	font-size : 20px;

}

body {
	
background-image: url("../img/dark_souls__iron_tarkus_vs_iron_golem_by_menaslg-d78wucy[1].png")
	
	
	
}

img{
	
	width: 20%;
	height: 70%;
	
	
	
	
}

h1{
	text-align: center;
	
	font-size: 80px;
}