@charset "utf-8";
/* CSS Document */

body{

	margin:0;
	
	
}


div{
	
width: 100px;
	height: 100px;
	float: left;
filter: alpha(opacity=50);
	
	
}

.capsule{
	
width: 800px;	
	
	
	
}
.red{
	
	background-color: #00FF10;
	border-radius: 30%;
	opacity: 20%;
	
}

.black{
	
	
	background-color:#8B00FD;
	margin: -20px;
}
