@charset "utf-8";
/* CSS Document */
body{
	
	margin: 100px;
	
}
	

div{
	
	
	
	
	


width: 100px;
height: 100px;
	float: left;
}
.capsule{
	
	width: 800px;
	
}
.red{
	background-color: red;
	border-radius: 100%;
	float: left;
	
}

.black{
	
	
	background-color: black;
	border-radius: 20%;
	
}